<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset</title>

    <!-- CSS only -->
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
      crossorigin='anonymous'
    />

    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css'
    />

    <link
      rel='canonical'
      href='https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/'
    />

    <style>
      .bd-placeholder-img { font-size: 1.125rem; text-anchor: middle;
      -webkit-user-select: none; -moz-user-select: none; user-select: none; }
      @media (min-width: 768px) { .bd-placeholder-img-lg { font-size: 3.5rem; }
      } main > .container { padding: 60px 15px 0; }
    </style>

    <!-- JavaScript Bundle with Popper -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4'
      crossorigin='anonymous'
    ></script>

  <!-- CSS only -->
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class='card border-dark mb-3' style='max-width: 90%;'>
    <div class='card-header bg-transparent border-dark'>
      <h1>ERROR</h1>
    </div>
  </div>

</body>

</html>
